@font-face {
    font-family: "RobotoSlab";
    src: url("/RobotoSlab-VariableFont_wght.ttf");
}

body {
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    background-repeat: repeat;
    align-content: center;
    font-family: 'RobotoSlab', Times, serif;
    
}

main {
    display:grid;
    grid-template-columns: 15vw 45vw;
    margin-left: 20vw;
}

@media screen and (max-width:800px) {
    body {
        background-size: auto 100vh;
    }
    
    main {
        display:grid;
        grid-template-columns: auto;
        margin-left: 20vw;
    }

    main > * {
        grid-column: span 2;
    }
}

main > * {
    background: rgba(255,255,255,0.8);
    border: solid 2px rgba(255,255,255);
    padding-left: 2%;
}

h1 {
    grid-column: span 2;
    font-size: 45px;
    padding: 0.2em;
}

footer {
    grid-column: span 2;
}

div > h3 {
    padding-right: 2em;
    padding-bottom: auto
}

img {
    max-width: 50%;
}

#recent-panel {
    display: grid;
    grid-template-columns: 60% auto;
    gap: 10px;
    max-height: 500px;
    margin-bottom: 10px;
    
}

#recent-panel > * {
    background-color: rgba(200,200,200,1);
}

.datetext {
    font-size: 9pt;
}

#updates-content > img {
    max-height: inherit;
}

#updates-box {
    /* height: 15vw; */
    font-size: 9pt;
    overflow: scroll;
    border: solid 2px black;
}

/* Statuscafe section */
#statuscafe {
    padding: .5em;
    background-color: azure;
    border: 1px solid midnightblue;
    font-size: 8pt;
    margin: .5em;
}
#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}

.list-section > :not(h3) {
    padding-left: 2em;
}

#left-panel {
    position: relative;
    padding-bottom: 100px;
}

#panel-img {
    max-width: 100%;
    width: 100%;
    position: absolute;
    /* top: 20px; */
     bottom: 0;
    
}