@font-face {
    font-family: "RobotoSlab";
    src: url("/RobotoSlab-VariableFont_wght.ttf");
}

body {
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    background-repeat: repeat;
    align-content: center;
    font-family: 'RobotoSlab', Times, serif;
    
}

main {
    display:grid;
    grid-template-columns: 15vw 45vw;
    margin-left: 20vw;
    font-size: 11pt;
}

@media screen and (max-width:800px) {
    body {
        background-size: auto 100vh;
    }
    
    main {
        display:grid;
        grid-template-columns: auto;
        margin-left: 20vw;
    }

    main > * {
        grid-column: span 2;
    }
}

main > * {
    background: rgba(235,251,203,0.95);
    border: dotted 2px rgba(255,255,255);
    padding-left: 2%;
}

h1 {
    grid-column: span 2;
    font-size: 45px;
    padding: 0.2em;
}

footer {
    grid-column: span 2;
}

div > h3 {
    padding-right: 2em;
    padding-bottom: auto
}

img {
    max-width: 50%;
}

#recent-panel {
    display: grid;
    grid-template-columns: 60% auto;
    gap: 10px;
    max-height: 500px;
    margin-bottom: 10px;
    
}

#recent-panel > * {
    background-color: rgba(160,208,65,1);
    padding: 1px;
    border-radius: 10px;
}

.datetext {
    font-size: 9pt;
}

#updates-content > img {
    max-height: inherit;
}

#updates-box {
    height: 250px;
    font-size: 9pt;
    overflow: scroll;
    border: solid 2px black;
    /* background: url(/img/notepaper.gif);
    background-attachment: scroll;
    background-position-y: 8px;
    background-repeat: repeat-y; */
}

/* Statuscafe section */
#statuscafe {
    padding: .5em;
    /* background-color: azure; */
    background: url("/img/pinkmush.gif");
    border: 1px solid midnightblue;
    font-size: 8pt;
    margin: .5em;
}
#statuscafe-username {
    margin-bottom: .5em;
    font-family: 'Brush Script MT', cursive;
    font-size: large;
    background-color: rgba(255,255,255,0.5);
}

#statuscafe-username > a {
    color: rgb(166, 5, 90); 
    font-size: larger;
    font-weight: bolder;
}

#statuscafe-content {
    margin: 0 1em 0.5em 1em;
    background-color: rgba(255,255,255,0.5);
}

.list-section > :not(h3) {
    padding-left: 2em;
}

#left-panel {
    position: relative;
    padding-bottom: 100px;
}

#panel-img {
    max-width: 100%;
    width: 100%;
    position: absolute;
    /* top: 20px; */
     bottom: 0;
    
}

#main > p {
    padding-right: 20px;
}