{{ define "main" }}
        {{ .Content }}
{{ end }}

{{ define "updates" }}
<hr>
<h3>Updates</h3>
<div id="recent-panel">
        <div id="updates-content">
                <h4>Status</h4>
                {{ partial "status.html" . }}
                <hr>
                <h4>Recent reviews</h4>
                {{ range  where .Pages "Section" "reviews"}}
                        {{ range .Pages.ByPublishDate.Reverse | first 2 }}
                        <p style="margin:1px;font-size:9pt;"><a href="{{ .RelPermalink }}">{{ .Title }}</a> {{ dateFormat "2 Jan" (.Param "date") }}</p>
                        {{ end }}
                {{ end }}
                <hr>
                <h4>Recent art</h4>
                <!-- <div style="display: flex;align-content:flex-end;width: 100%;gap:100px;background:red"> -->
                {{ $img := .Param "recent-art"}}
                <img src="{{ $img }}" id="most-recent-art">
                 
                <!-- </div> -->
        </div> 
        <div id="updates-box">
                {{ readFile "updates.md" | markdownify }}
        </div> 
</div> 
<h3>Webrings</h3>
<div id="webrings">
        <!-- Melonland -->
        <object id="melonland-surf-club" data="https://melonland.net/surf-badge.svg?fill=#5c3566" 
        type="image/svg+xml" style="width: 100px; height: 100px;margin-top: 0;margin-left:0;display:inline;"></object>

        <!-- Marigold Town Libraruy (bookring)-->
        <div style="display: inline;">
        <a href='https://webri.ng/webring/thebookring/previous?via=https://rhenn.neocities.org'>
                <img src="https://i.imgur.com/sIR6aFP.gif" width="13" height=13> </a>
        <a href="https://library.marigold.town/"><img src="https://i.imgur.com/kZzmx1a.gif" width="88" height="31"></a>
        <a href='https://webri.ng/webring/thebookring/next?via=https://rhenn.neocities.org'>
                <img src="https://i.imgur.com/6ni3bTd.gif" width="13" height="13"></a>
        </div>
</div>

{{ end }}