{{ define "main" }}
        {{ .Content }}
{{ end }}

{{ define "updates" }}
<hr>
<h3>Updates</h3>
<div id="recent-panel">
        <div id="updates-content">
                <h4>Status</h4>
                {{ partial "status.html" . }}
                <hr>
                <h4>Recent reviews</h4>
                {{ range  where .Pages "Section" "reviews"}}
                        {{ range .Pages.ByPublishDate.Reverse | first 2 }}
                        <p style="margin:1px;font-size:9pt;"><a href="{{ .RelPermalink }}">{{ .Title }}</a> {{ dateFormat "2 Jan" (.Param "date") }}</p>
                        {{ end }}
                {{ end }}
                <hr>
                <h4>Recent art</h4>
                <!-- <div style="display: flex;align-content:flex-end;width: 100%;gap:100px;background:red"> -->
                {{ $img := .Param "recent-art"}}
                <img src="{{ $img }}" id="most-recent-art">
                 <!-- <object id="melonland-surf-club" data="https://melonland.net/surf-badge.svg?fill=#5c3566" 
                type="image/svg+xml" style="width: 100px; height: 100px;margin-top: 0;margin-left: 40%;"></object> -->
                <!-- </div> -->
        </div> 
        <div id="updates-box">
                {{ readFile "updates.md" | markdownify }}
        </div> 
</div> 

{{ end }}